<!DOCTYPE html>
<html>
<head>
	<title>Eat the Burger</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>
<!--page container -->
<div class="container">
	<br>
	  <!-- Burger Image -->
      <center>
        <div class="row">
          <img src="/public/assets/img/burger.png">
        </div>
      </center>

       <div class="row">
      <!--<div class="col s12 center">
        <h1>Eat the Burger!</h1>
      </div>-->

      <!-- Dynamically Insert Ready Burgers Here -->


     <div class="row">
      <div class="col s12 center">
        <h1>Eat the Burger!</h1>
      </div>

    <main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Delicious Burger">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>
</div>



</div>
</body>
</html>