<!DOCTYPE html>
<html>
<head>
	<title>Eat the Burger</title>
<link href="https://fonts.googleapis.com/css?family=Alice|Sacramento" rel="stylesheet">
  
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
  

</head>
<body>
<!--page container -->
<div class="container">
	<br>
	  <!-- Burger Image -->
      <center>
        <div class="row">
          <img src="/assets/img/burger.png">
        </div>
      </center>

     

      <!-- Dynamically Add Burgers Here -->


      {{{ body }}}

      <center>
        <div class="row">
          <img src="/assets/img/chef.jpg" class="circle responsive-img">
        </div>
      </center>

</div>
</body>
</html>